{% extends "twig_7_theme::page/page.tpl.twig" %}
{% block header %}
    <div id="header-inner">
        {{ parent() }}
    </div>
{% endblock %}

{% block footer %}
    <div id="footer-inner">
        {{ parent() }}
    </div>
{% endblock %}

{% block main_menu %}
<div id="main-menu">
    <div class="menu-wrapper">
        {{ parent() }}
    </div>
</div>
{% endblock %}

{% block secondary_menu %}
    <div id="secondary-menu">
        <div class="menu-wrapper">
            {{ parent() }}
        </div>
    </div>
{% endblock %}