header#page-header {
  #header-inner {
    @include grid-row();
  }
}
footer#page-footer {
  #footer-inner {
    @include grid-row();
  }
}
main {
  .content {
    @include grid-row();
  }
}
@media #{$medium-up} {
  .no-sidebars {
    #main-content {
      @include grid-column(12);
    }
  }
  .one-sidebar.sidebar-first {
    #main-content {
      @include grid-column(9, $push: 3);
    }
    #sidebar-first {
      @include grid-column(3, $pull: 9);
    }
  }
  .one-sidebar.sidebar-second {
    #main-content {
      @include grid-column(9);
    }
    #sidebar-second {
      @include grid-column(3);
    }
  }
  .two-sidebars {
    #main-content {
      @include grid-column(6, $push: 3);
    }
    #sidebar-first {
      @include grid-column(3, $pull: 6);
    }
    #sidebar-second {
      @include grid-column(3);
    }
  }
}
