ul.menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

  li.leaf {
    list-style-image: none;
    list-style-type: none;
  }
}
ul#secondary-menu-links {
  @extend ul.menu;
  @include grid-row();
  padding: 0.275rem 0;
  li {
    float: left;

    a {
      font-weight: bold;
      border-right: 0px none;
      margin-bottom: 4px;
      padding: 2px 10px 3px;

      &:not(.button) {
        color: #666666;
      }
    }
  }
}

ul#main-menu-links {
  @extend ul#secondary-menu-links;
  li {
    font-size: 120%;
  }

}

#admin-menu-wrapper {
  ul {
    font-size: 1em;
  }
}
