{#
Grid template

#}
{% if columns %}
   {% set small = columns[0] %}
    {% set medium = columns[1] %}
    {% set large = columns[2] %}
{% endif %}
{% if not medium and not large and not small %}
    {% set small = 6 %}
{% endif %}
{% set max_cols = 12//min(small ? small:12, medium ? medium:12, large ? large:12) %}
{% if not item_array %}
    {% set item_array = rows %}
{% endif %}
{% set col_class = (small? "small-"~small) ~ (medium? " medium-"~medium) ~ (large? " large-"~large) ~ " columns" %}

{% for item in item_array %}
    {% if loop.index0 % max_cols == 0 %}
        <div class="row">
    {% endif %}
    <div class="{{ col_class }} {{ loop.last? "end" }}">
        {% block column %}
            {{ item }}
        {% endblock %}
    </div>
    {% if loop.last or loop.index0 % max_cols == max_cols - 1 %}
        </div>
    {% endif %}
{% endfor %}
