@import "app";
@import "layout";
@import "menus";

@mixin setColorAndHover($baseColor) {
  color: $baseColor;
  &:hover {
    color: darken($baseColor, 5%);
  }
}
a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit;
}

header#page-header {
  background-color: #404040;
  a {
    color: #DEDEDE;
  }
  h1 {
    a {
      color: #DEDEDE;
    }
  }
}

#main-menu {
  background-color: lightgray;
}
#secondary-menu {
  background-color: lightgray;
}
